@model IEnumerable<FeemanagementSystem.Models.Receipt>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceiptTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancelledDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonForCancelled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CancelledUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntryUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Std)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReceiptTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelledDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonForCancelled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CancelledUser.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryUser.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Std.UserId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Rid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Rid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Rid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
