@model FeemanagementSystem.Models.Reception

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reception</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EntryTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EntryTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Purpose)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Purpose)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancelledDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancelledDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiscalYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiscalYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResonForCancell)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResonForCancell)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReceptionStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReceptionStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CancelledUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CancelledUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Rid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
