@model FeemanagementSystem.Models.ReceiptPrint

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ReceiptPrint</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrintUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrintUser.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RidNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RidNavigation.Rid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PrintId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
